.Main
  .RightHeader
    .RightHeader__icon
      = icon('fas', 'bars', class: 'Bar__icon')
    .RightHeader__title
      = @group.name
  .MessageField
    = render @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_area :content, type: 'text', class: "Form__inputContent", placeholder: 'メッセージ'
        = f.label :image, class: 'Form__inputDocument' do
          = icon('fas', 'file-alt', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
        = f.submit 'SEND', class: 'Form__submit'