- @messages.each do |message|  
  - @user = User.find(message.user_id)
  - if message.user_id == 5
    .MessageBox
      .MessageBox__middle
        .MessageNeutral
          - if message.content.present?
            = message.content
          = image_tag message.image.url, class: 'Message__image' if message.image.present?    
  - elsif message.truth == true
    .MessageBox 
      .MessageFors
        .MessageIcon-for
          = image_tag @user.image.url, class: "Icon-image" 
          = @user.name       
        - if message.content.present?
          .f-triangle
            .f-white  
          .MessageFor= message.content  
        = image_tag message.image.url, class: 'Message__image' if message.image.present?
  - else
    .MessageBox
      .MessageAgainsts
        - if message.content.present?
          .MessageAgainst= message.content
          .a-triangle
            .a-white
        = image_tag message.image.url, class: 'Message__image' if message.image.present?  
        .MessageIcon-against
          = image_tag @user.image.url, class: "Icon-image" 
          = @user.name    
      