.Side
  .LeftHeader 
    .LeftHeader__user
      -unless current_user.admin?
        .LeftHeader__userIcon
          = image_tag current_user.image.url, class: "Icon-image" 
        %h3.LeftHeader__userName
          = current_user.name
    %ul.LeftHeader__Icons
      %li.LeftHeader__Icon
        = link_to edit_user_path(current_user) do
          = icon('fas', 'user-cog')
      - if current_user.admin?
        %li.LeftHeader__Icon
          = link_to new_group_path do
            = icon('fas', 'plus', class: 'Close__icon')  
  .Content
    .Subjects
      .Subjects__title
        論題
        .Subjects__plus
          = link_to new_group_path do
            = icon('fas', 'plus')
      .Subjects__content
        - groups.each do |group|
          - if group == @group
            .CurrentSubject
              = link_to group_path(group) do
                ◎
                = group.name
          - else
            .Subject
              = link_to group_path(group) do
                ◎
                = group.name
      
        
        