.AccountPage
  .AccountPage__contents
    .AccountPage__image
    .AccountPage__title
      %h2 ぼく偉いもん
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
      = link_to "トップページに戻る", :back, class: 'Button'
  .AccountPage__form
    = form_for(current_user) do |f|
      %h3 アカウントの編集
      .FormField
        .FormField__label--normal
          = f.label :名前
        .FormField__input--normal
          = f.text_field :name, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :メールアドレス
        .FormField__input--normal
          = f.email_field :email
      = f.submit "更新", class: 'Button UserButton'